.footer {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  background-color: var(--colorHF);
  font-family: sans-serif;
}

.footer__redes {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .redes__titulo {
    color: var(--colorLetrasHF);
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: var(--colorLetrasHF);
  }

  .redes__iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      filter: var(--colorIconosHF);
      transition: scale 1s ease-out;
      &:active {
        scale: 0.8;
      }
    }
  }
}

.footer__contacto {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .section__telefono {
    display: flex;
    justify-content: center;
    align-items: center;

    .telefono__titulo {
      color: var(--colorLetrasHF);
      font-size: 1.5rem;
    }
    .telefono__icono {
      width: 50px;
      height: 50px;
      object-fit: contain;
      filter: var(--colorIconosHF);
    }
  }

  .contenedor__telefonos {
    display: flex;
    flex-direction: column;

    h5 {
      color: var(--colorLetrasHF);
      margin-bottom: 15px;
      font-size: 1.1rem;
    }
  }
}

.section__horario {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

  .horario__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .horario__icono {
      width: 50px;
      height: 50px;
      object-fit: contain;
      filter: var(--colorIconosHF);
    }
    .horario__h5 {
      font-size: 1.5rem;
      color: var(--colorLetrasHF);
    }
  }

  .horario__text {
    font-size: 1.1rem;
    color: var(--colorLetrasHF);
  }
}

@media (max-width: 888px) {
  .footer {
    gap: 20px;
  }

  .footer__redes {
    .redes__titulo {
      font-size: 1.3rem;
    }
    .redes__iconos {
      gap: 15px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .footer__contacto {
    .section__telefono {
      .telefono__titulo {
        font-size: 1.3rem;
      }
      .telefono__icono {
        width: 30px;
        height: 30px;
      }
    }
    .contenedor__telefonos {
      h5 {
        font-size: 1rem;
      }
    }
  }

  .section__horario {
    gap: 15px;

    .horario__titulo {
      gap: 12px;

      .horario__icono {
        width: 30px;
        height: 30px;
      }
      .horario__h5 {
        font-size: 1.3rem;
      }
    }
    .horario__text {
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  .footer__redes,
  .footer__contacto,
  .section__horario {
    width: calc(100% / 3);
  }
}

@media (max-width: 479px) {
  .footer {
    flex-direction: column;
  }

  .footer__redes {
    width: 100%;
    align-items: start;
    border-bottom: solid black 1px;

    .redes__titulo {
      width: 100%;
      text-align: center;
    }

    .redes__iconos {
      width: 100%;
    }
  }

  .footer__contacto {
    width: 100%;
    border-bottom: solid black 1px;
  }

  .section__horario {
    width: 100%;
    align-items: center;
  }
}
