* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --colorIconoSection: brightness(0) saturate(100%) invert(23%) sepia(6%)
    saturate(17%) hue-rotate(66deg) brightness(97%) contrast(104%);
  --colorBody: #575656;
  --colorHeader: #fb8500;
  --colorLetra: #363636;
  --colorHeaderLetra: #023047;
  /*Cambia el color de los SVG*/
  --colorIconoHeader: brightness(0) saturate(100%) invert(13%) sepia(17%)
    saturate(6428%) hue-rotate(176deg) brightness(96%) contrast(98%);
}

body {
  font-family: sans-serif;
  background-color: var(--colorBody);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  background-color: var(--colorHeader);
}

.logo {
  color: var(--colorHeaderLetra);
  padding: 15px;
  font-size: 2rem;
  width: 20%;
}

.span__logo {
  font-size: 2.5rem;
}

.nav {
  width: 65%;
  gap: 17px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

#btn-menu {
  display: none;
}
#menu {
  display: none;
}

.link__nav {
  margin-left: auto;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--colorHeaderLetra);
  transition: all 1s ease-out;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--colorHeaderLetra);
  }

  &:active {
    text-decoration: underline;
    text-decoration-color: var(--colorHeaderLetra);
    scale: 0.9;
  }
}

.social__media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 10px;
  width: 30%;
}

.link__social__media {
  .social__icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
    filter: var(--colorIconoHeader);
    transition: scale 1s ease-out;

    &:active {
      scale: 0.8;
    }
  }
}

.main {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  margin-bottom: 20px;
}

.main__text {
  padding: 20px 30px;
  margin-right: auto;
  width: 40%;
  color: var(--colorHeader);
  font-size: 2rem;
  line-height: 1.3;
}

.main__text__strong {
  font-weight: 700;
  color: #ffb703;
}

.contenedor__carrucel {
  width: 700px;
  height: 400px;
  overflow: hidden;

  /* EL problemita */
  background-image: url("../assets/image/fondo_carretera.webp");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.3);
  border-radius: 8px;
}

.carrucel {
  height: 100%;
  display: flex;
}

.slider__section {
  height: 100%;
  .img__carrucel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.question {
  padding: 30px;
  width: 100%;
  text-align: center;
  color: var(--colorHeaderLetra);
  background-color: var(--colorHeader);
  outline: 1px var(--colorHeader) solid;

  margin-bottom: 20px;
}

.section {
  width: 100%;
  height: 400px;
  padding: 10px 48px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 20px;
}

.section__article {
  background-color: #ffb703;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: calc(100% / 3);
  padding: 20px;
  color: var(--colorLetra);
  border-radius: 19px;
  transition: box-shadow 0.2s ease-in, filter 0.2s ease-in, scale 0.2s ease-in;

  &:hover {
    box-shadow: -2px 3px 10px 4px black;
    filter: brightness(110%);
    scale: 98%;
  }

  .section__img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    filter: var(--colorIconoSection);
  }

  .section__titulo {
    font-size: 1.3rem;
    text-align: center;
  }

  .section__parrafo {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

.footer {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  background-color: var(--colorHeader);
}

.footer__redes {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .redes__titulo {
    color: var(--colorHeaderLetra);
    font-size: 1.5rem;
    text-decoration: underline;
    text-decoration-color: var(--colorHeaderLetra);
  }

  .redes__iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      filter: var(--colorIconoHeader);
      transition: scale 1s ease-out;
      &:active {
        scale: 0.8;
      }
    }
  }
}

.footer__contacto {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .section__telefono {
    display: flex;
    justify-content: center;
    align-items: center;

    .telefono__titulo {
      color: var(--colorHeaderLetra);
      font-size: 1.5rem;
    }
    .telefono__icono {
      width: 50px;
      height: 50px;
      object-fit: contain;
      filter: var(--colorIconoHeader);
    }
  }

  .contenedor__telefonos {
    display: flex;
    flex-direction: column;

    h5 {
      color: var(--colorHeaderLetra);
      margin-bottom: 15px;
      font-size: 1.1rem;
    }
  }
}

.section__horario {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

  .horario__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .horario__icono {
      width: 50px;
      height: 50px;
      object-fit: contain;
      filter: var(--colorIconoHeader);
    }
    .horario__h5 {
      font-size: 1.5rem;
      color: var(--colorHeaderLetra);
    }
  }

  .horario__text {
    font-size: 1.1rem;
    color: var(--colorHeaderLetra);
  }
}

@media (max-width: 888px) {
  .logo {
    font-size: 1.2rem;
  }
  .span__logo {
    font-size: 1.7rem;
  }

  .nav {
    gap: 6px;
  }

  .link__nav {
    font-size: 1rem;
  }

  .link__social__media {
    .social__icon {
      width: 30px;
      height: 30px;
    }
  }

  .main {
    flex-direction: column;
  }

  .main__text {
    width: 100%;
    font-size: 1.6rem;
  }

  /* padding sintetico */
  .contenedor__carrucel {
    width: 96%;
  }

  /* Esperando revision por parte de la junta */
  .slider__section {
    display: flex;
    justify-content: center;

    .img__carrucel {
      width: 110%;
      object-fit: contain;
    }
  }

  .section {
    height: auto;
    flex-direction: column;
  }

  .section__article {
    width: 100%;

    .section__titulo {
      font-size: 1.9rem;
    }
    .section__parrafo {
      font-size: 1.6rem;
    }
  }

  .footer {
    gap: 20px;
  }

  .footer__redes {
    .redes__titulo {
      font-size: 1.3rem;
    }
    .redes__iconos {
      gap: 15px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }

  .footer__contacto {
    .section__telefono {
      .telefono__titulo {
        font-size: 1.3rem;
      }
      .telefono__icono {
        width: 30px;
        height: 30px;
      }
    }
    .contenedor__telefonos {
      h5 {
        font-size: 1rem;
      }
    }
  }

  .section__horario {
    gap: 15px;

    .horario__titulo {
      gap: 12px;

      .horario__icono {
        width: 30px;
        height: 30px;
      }
      .horario__h5 {
        font-size: 1.3rem;
      }
    }
    .horario__text {
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  .footer__redes,
  .footer__contacto,
  .section__horario {
    width: calc(100% / 3);
  }
}

@media (max-width: 479px) {
  .logo {
    width: 60%;
    font-size: 1.7rem;
  }
  .span__logo {
    font-size: 1.9rem;
  }

  .nav {
    display: none;
  }

  #btn-menu {
    display: block;
  }

  #menu {
    padding: 10px 30px;
    width: 100%;
    min-height: 200px;
    background-color: rgb(70, 70, 70);
  }
  #menu__ul {
    padding: 10px;
    width: 100%;
    min-height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;

    li {
      width: 100%;
      a {
        display: block;
        text-decoration: none;
        width: 100%;
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
          padding: 10px;
          background-color: #363636;
          font-size: 18px;
        }
      }
    }
  }

  .main__text {
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.2rem;
  }

  .section {
    padding: 10px 24px;
  }

  .section__article {
    .section__titulo {
      font-size: 1.5rem;
    }
    .section__parrafo {
      font-size: 1.2rem;
    }
  }

  .footer {
    flex-direction: column;
  }

  .footer__redes {
    width: 100%;
    align-items: start;
    border-bottom: solid black 1px;

    .redes__titulo {
      width: 100%;
      text-align: center;
    }

    .redes__iconos {
      width: 100%;
    }
  }

  .footer__contacto {
    width: 100%;
    border-bottom: solid black 1px;
  }

  .section__horario {
    width: 100%;
    align-items: center;
  }
}
