* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --colorBody: #1d1f20; /*fondo del body*/
  --colorHF: #b2bec6; /*fondo del header y footer*/
  --colorLetrasHF: #023047; /*color letras del header y footer*/
  --colorIconosHF: brightness(0) saturate(100%) invert(13%) sepia(17%)
    saturate(6428%) hue-rotate(176deg) brightness(96%) contrast(98%); /*color icono header y footer*/
  --colorIconoSection: brightness(0) saturate(100%) invert(23%) sepia(6%)
    saturate(17%) hue-rotate(66deg) brightness(97%) contrast(104%);
}

body {
  font-family: sans-serif;
  background-color: var(--colorBody);
}

.main {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.main__text {
  padding: 20px 30px;
  margin-right: auto;
  width: 40%;
  font-size: 2.8rem;
  font-weight: 700;
  background: #023047;
  background: linear-gradient(to right, #b2bec6 0%, #023047 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contenedor__carrucel {
  width: 700px;
  height: 400px;
  overflow: hidden;

  /* EL problemita */
  background-image: url("../assets/image/fondo_garage.webp");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.3);
  border-radius: 8px;
}

.carrucel {
  height: 100%;
  display: flex;
}

.slider__section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .img__carrucel {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.question {
  padding: 30px;
  width: 100%;
  text-align: center;

  background-color: #b2bec6;

  margin-bottom: 20px;
}

.question__text {
  background: #023047;
  background: linear-gradient(to right, #1d1f20 0%, #023047 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section {
  width: 100%;
  height: 400px;
  padding: 10px 48px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 20px;
}

.section__article {
  background: #000000;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(178, 190, 198, 1) 50%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: calc(100% / 3);
  padding: 20px;
  color: #373737;
  border-radius: 19px;
  transition: box-shadow 0.2s ease-in, filter 0.2s ease-in, scale 0.2s ease-in;

  &:hover {
    box-shadow: -2px 3px 10px 4px black;
    filter: brightness(110%);
    scale: 98%;
    color: #000000;

    .section__img {
      filter: invert(0%) sepia(4%) saturate(7448%) hue-rotate(225deg)
        brightness(89%) contrast(100%);
    }
  }

  .section__img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    filter: var(--colorIconoSection);
  }

  .section__titulo {
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
  }

  .section__parrafo {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3;
  }
}

@media (max-width: 888px) {
  .main {
    flex-direction: column;
  }

  .main__text {
    width: 100%;
    font-size: 1.6rem;
  }

  /* padding sintetico */
  .contenedor__carrucel {
    width: 96%;
  }

  /* Esperando revision por parte de la junta */
  .slider__section {
    display: flex;
    justify-content: center;

    .img__carrucel {
      width: 110%;
      object-fit: contain;
    }
  }

  .section {
    height: auto;
    flex-direction: column;
  }

  .section__article {
    width: 100%;

    .section__titulo {
      font-size: 1.9rem;
    }
    .section__parrafo {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 479px) {
  .main__text {
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.2rem;
  }

  .section {
    padding: 10px 24px;
  }

  .section__article {
    .section__titulo {
      font-size: 1.5rem;
    }
    .section__parrafo {
      font-size: 1.2rem;
    }
  }
}
